.ant-picker {
    flex: 0 0 100% !important;
    border-radius: 4px !important;
    height: 48px !important; 
    border: 1px solid var(--primary) !important;
  }
  
  .ant-picker-input::placeholder {
    font-size: 14px !important;
    line-height: 17.05px !important;
    font-weight: 600 !important;
    color: var(--primary) !important;
    opacity: 0.4 !important;
  }
  
  .ant-picker-input, .ant-picker-focused {
    flex: 0 0 100% !important;
    height: 48px !important; 
    max-width: 100% !important;
    width: 100%;
  }
  
  .ant-picker-input > input:focus, .ant-picker-input > input-focused {
    border-color: var(--orange) !important;
    border-right-width: 1px;
  }
  
  .ant-picker-input > input:hover {
    border-color: var(--orange) !important;
    border-right-width: 1px;
  }
  
  .ant-picker-suffix {
    display: none !important;
  }

  .react-dropdown-select {
    min-height: 48px !important;
    border-radius: 4px !important;
    /* border: none !important; */
    border: 1px solid var(--primary) !important;
    padding: 0 10px !important;
    font-weight: 400 !important;
    margin-bottom: 1rem;
    color: var(--primary) !important;
  }
  
  .react-dropdown-select-input {
    font-size: 14px !important;
    line-height: 17.05px !important;
    color: var(--primary) !important;
    opacity: 0.3 !important;
    font-weight: 400 !important;
  }
 

  
  /* .css-wmy1p7-ReactDropdownSelect {
    min-height: 48px !important;
    border-radius: 4px !important;
    border: 1px solid var(--primary) !important;
    padding: 0 16px !important;
    font-weight: 600 !important;
    margin-bottom: 1rem;
  }
  
  .react-dropdown-select-input {
    font-size: 14px !important;
    color: var(--primary) !important;
    opacity: 0.3;
  } */
  

@media screen and (min-device-width: 1400px) and (max-device-width: 1600px) {
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1400px) {
}

@media only screen and (min-device-width: 764px) and (max-device-width: 1199px) {
 
}

@media only screen and (min-device-width: 360px) and (max-device-width: 763px) {
    iframe {
        width: 410px;
    }

    @media screen and (max-device-width: 414px) {
        iframe {
         width: 395px;
       }
     }

     @media screen and (max-device-width: 390px) {
        iframe {
         width: 370px;
       }
     }

    @media screen and (max-device-width: 375px) {
       iframe {
        width: 355px;
      }
    }


}

@media only screen and (min-device-width: 218px) and (max-device-width: 359px) {
    iframe {
        width: 300px;
    }
}